<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/header') %>

    <body>
        <%- include ('./partials/navbar') %>
            <section>
                <h1>Nettsider</h1>
                <% if (nettsider.length> 0) { %>
                    <ul class="nettside">
                        <% nettsider.forEach(website=> { %>
                            <li>
                                <div class="overview">
                                    <div class="title">
                                        <a href="<%= website.lenke %>" target="_blank">
                                            <%= website.navn %>
                                        </a>
                                        <p>
                                            <%= website.beskrivelse %>
                                        </p>
                                    </div>
                                    <div class="date">
                                        <p><b>Dato:</b>
                                            <%= website.timestamps %>
                                        </p>
                                        <p><b>Publisert av:</b>
                                            <%= website.publisertAv %>
                                        </p>

                                    </div>
                                </div>
                                <div>
                                    <img src="<%= website.bilde %>" alt="Bilde av <%= website.navn %>"
                                        class="nettside-bilde">
                                    <a href="/vurdering/<%= website._id %>">
                                        <button id="vurder-btn">Vurder nettsiden</button>
                                    </a>
                                </div>


                            </li>

                            <% }) %>
                    </ul>
                    <% } else { %>
                        <p>Ingen nettsider funnet.</p>
                        <% } %>
            </section>

            <%- include ('./partials/footer') %>
    </body>

</html>